/* Geral */
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin-top: 10%;
}

h1, h2 {
    color: #333;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 8px 12px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}

/* Formulários */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Botões */
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Container principal */
.container {
    width: 70%;
    max-width: 400px;
    height: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* margin-top: 50px; */
}

/* Tela inicial */
.tela-inicial-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

/* Menus */
.menu-container {
    display: flex;
    gap: 10px;
    margin-bottom: 0;
    position: relative;
    top: 10px;
    left: 10px;
}

/* Menu Cadastro e Relatório */
#menu, #menu-relatorio {
    position: absolute;
    top: 40px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    margin-bottom: 10px;
}

#menu ul, #menu-relatorio ul {
    display: flex;
    flex-direction: column;
}

#menu-button-cadastro, #menu-button-relatorio {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#menu-button-cadastro:hover, #menu-button-relatorio:hover {
    background-color: #0056b3;
}

/* Departamento */
.menu-container {
    position: absolute;
    top: 10px;
    left: 10px;
}
