<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Departamento</title>
</head>
<body>
    <h1>Cadastrar Departamento</h1>
    <form action="{{ url_for('add_departamento') }}" method="POST">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required><br><br>
        <button type="submit">Criar Departamento</button>
    </form>
    <a href="{{ url_for('list_departamentos') }}">Voltar para a lista de departamentos</a>
</body>
</html>
