<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar escala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'menu.html' %}

    <div class="container-relatorios">
    <h2>Cadastrar escala</h2>

    {% if mensagem %}
        <p style="color: red;">{{ mensagem }}</p>
    {% endif %}

    <form method="POST" action="/escala" id="formEscala">
        <label>Descrição:</label>
        <input type="text" name="descricao" placeholder="Nome da escala" required>
      
        <label>Horarios:</label>
        <div id="horariosContainer">
          
        </div>
      
        <button type="button" onclick="addHorario()">Adicionar horário</button>
        <button type="submit">Salvar escala</button>
      </form>

    <a href="{{ url_for('list_escalas') }}"><button id="btn-retornar">Voltar para a lista de escalas</button></a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        let horarioCount = 0;

        function addHorario() {
          let container = document.getElementById('horariosContainer');
          let html = `<div>
            <input type="text" name="dia_${horarioCount}" placeholder="Dia da semana" required>
            <input type="time" name="entrada_${horarioCount}" required>
            <input type="time" name="saida_${horarioCount}" required>
          </div>`;
          container.insertAdjacentHTML('beforeend', html);
          horarioCount++;
        }
        </script>
</body>
</html>
