<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar escala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'menu.html' %}

    <div class="container-relatorios">
    <h2>Cadastrar escala</h2>

    {% if mensagem %}
        <p style="color: red;">{{ mensagem }}</p>
    {% endif %}

    <form action="{{ url_for('add_escala') }}" method="POST">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required>
        <button type="submit">Criar escala</button>
    </form>

    <a href="{{ url_for('list_escalas') }}"><button id="btn-retornar">Voltar para a lista de escalas</button></a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
