<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Função</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Editar Função</h2>
    {% if funcao %}
        <form action="{{ url_for('edit_funcao', id=funcao['id']) }}" method="POST">
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" value="{{ funcao['descricao'] }}" required><br><br>
            <button type="submit">Atualizar Função</button>
        </form>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}

    <a href="{{ url_for('list_funcoes') }}"><button id="btn-retornar">Voltar</button></a>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
