<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Departamento</title>
</head>
<body>
    <h1>Editar Departamento</h1>
    <form action="{{ url_for('edit_departamento', id=departamento.id) }}" method="POST">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" value="{{ departamento.descricao }}" required><br><br>
        <button type="submit">Atualizar Departamento</button>
    </form>
    <a href="{{ url_for('list_departamentos') }}">Voltar para a lista de departamentos</a>
</body>
</html>
