<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Editar Ponto</h2>
    <form action="{{ url_for('edit_ponto', id=ponto.get('id', 0)) }}" method="POST">
        <label for="hora_entrada">Hora de Entrada:</label>
        <input type="time" id="hora_entrada" name="hora_entrada" value="{{ ponto.get('hora_entrada', '') }}" required><br><br>

        <label for="hora_saida">Hora de Saída:</label>
        <input type="time" id="hora_saida" name="hora_saida" value="{{ ponto.get('hora_saida', '') }}" required><br><br>

        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="{{ ponto.get('data', '') }}" required><br><br>

        <label for="funcionario">Funcionário:</label>
        <input type="text" id="funcionario" name="funcionario" value="{{ ponto.get('nome', '') }}" required><br><br>

        <label for="evento">Evento:</label>
        <input type="text" id="evento" name="evento" value="{{ ponto.get('evento', '') }}" required><br><br>

        <button type="submit">Atualizar Ponto</button>
    </form>
    <a href="{{ url_for('list_pontos') }}"><button id="btn-retornar">Cancelar</button></a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
