<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'menu.html' %}
   

    <div class="container">
        <h3>{{ action }} Evento</h3>
        {%if action == "Atualizar"%}
        <form method="POST" action="{{ url_for('edit_evento', id=evento['id']) }}">
        {%else%}
        <form method="POST" action="{{ url_for('add_evento') }}">
        {%endif%}
            <input type="hidden" name="id" value="{{ evento['id'] }}">
            <label for="codigo">Codigo:</label>
            <input type="text" id="codigo" name="codigo" value="{{ evento['codigo'] }}" required>

            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" value="{{ evento['descricao'] }}" required>

            <button type="submit">{{ action }} Evento</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
