<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        
    </style>
</head>
<body>
    {% include 'menu.html' %}
   

    <div class="container">
        <h3>Gerenciar Funcionário</h3>
        <form id="funcionario-form">
            <label for="matricula">Matrícula:</label>
            <input type="number" id="matricula" name="matricula" placeholder="Informe a matricula do colaborador" required>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Informe o nome do colaborador" required>

            <label for="funcao">Função:</label>
            <input type="text" id="funcao" name="funcao" placeholder="Informe a função" required>

            <label for="data_inicio">Data de Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" required>

            <label for="data_termino">Data de Término:</label>
            <input type="date" id="data_termino" name="data_termino">

            <label for="departamento">Departamento:</label>
            <input type="text" id="departamento" name="departamento" placeholder="Informe qual o departamento" required>

            <label for="gerente">Gerente:</label>
            <input type="text" id="gerente" name="gerente" placeholder="Informe qual o nome do gerente">

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" placeholder="Selecione / cadastre o endereço" autocomplete="off">
            <ul id="enderecos-list" style="display: none;"></ul>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" placeholder="Informe o telefone (xx) 9xxxx-xxxx" required>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" placeholder="CPF - inserir apenas os numeros" required>

            <label for="rg">RG:</label>
            <input type="text" id="rg" name="rg" placeholder="Informe o numero da RG" required>

            <label for="banco">Banco:</label>
            <input type="text" id="banco" name="banco" required>

            <label for="agencia">Agência:</label>
            <input type="text" id="agencia" name="agencia" required>

            <label for="conta_corrente">Conta Corrente:</label>
            <input type="text" id="conta_corrente" name="conta_corrente" required>

            <button type="button" id="buscar-funcionario">Buscar Funcionário</button>
            <button type="submit" id="adicionar-funcionario">Adicionar Funcionário</button>
            <button type="button" id="atualizar-funcionario">Atualizar Funcionário</button>
        </form>
    </div>

    <script src="/static/script.js"></script>
    <!-- <script>
        const menuButton = document.getElementById('menu-button');
        const menu = document.getElementById('menu');
    
        // Função para abrir ou fechar o menu
        menuButton.addEventListener('click', function(event) {
            event.stopPropagation(); // Impede o evento de clique de propagar para o document
            menu.style.display = (menu.style.display === 'none' || menu.style.display === '') ? 'block' : 'none';
        });
    
        // Fecha o menu ao clicar em qualquer lugar fora dele
        document.addEventListener('click', function(event) {
            if (menu.style.display === 'block') {
                menu.style.display = 'none';
            }
        });
    
        // Fecha o menu ao clicar em um link
        menu.querySelectorAll('a').forEach(link => {
            link.addEventListener('click', function() {
                menu.style.display = 'none'; // Fecha o menu ao clicar em um link
            });
        });
    </script>
     -->
    <script>
        // Busca funcionário por matrícula e preenche o formulário
        document.getElementById('buscar-funcionario').addEventListener('click', function() {
            const matricula = document.getElementById('matricula').value;

            if (!matricula) {
                alert('Por favor, insira a matrícula.');
                return;
            }

            fetch(`/funcionario/${matricula}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                } else {
                    document.getElementById('nome').value = data.nome;
                    document.getElementById('funcao').value = data.funcao;
                    document.getElementById('data_inicio').value = data.data_inicio;
                    document.getElementById('data_termino').value = data.data_termino || '';
                    document.getElementById('departamento').value = data.departamento;
                    document.getElementById('gerente').value = data.gerente;
                    document.getElementById('endereco').value = data.endereco;
                    document.getElementById('telefone').value = data.telefone;
                    document.getElementById('cpf').value = data.cpf;
                    document.getElementById('rg').value = data.rg;
                    document.getElementById('banco').value = data.banco;
                    document.getElementById('agencia').value = data.agencia;
                    document.getElementById('conta_corrente').value = data.conta_corrente;
                }
            })
            .catch(error => console.error('Error:', error));
        });

        // Adiciona um novo funcionário
        document.getElementById('funcionario-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());

            fetch('/funcionario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                event.target.reset();
            })
            .catch(error => console.error('Error:', error));
        });

        // Atualiza os dados do funcionário
        document.getElementById('atualizar-funcionario').addEventListener('click', function() {
            const formData = new FormData(document.getElementById('funcionario-form'));
            const data = Object.fromEntries(formData.entries());
            const matricula = data.matricula;

            if (!matricula) {
                alert('Por favor, insira a matrícula.');
                return;
            }

            fetch(`/funcionario/${matricula}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => console.error('Error:', error));
        });


        // tela de index.html
        // Abre ou fecha o menu ao clicar no botão
        

    </script>
</body>
</html>
