<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Controle de Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu-container">
        <button id="menu-button-cadastro">Cadastro</button>
        <nav id="menu" style="display: none;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/funcionario">Funcionário</a></li>
                <!-- <li><a href="/endereco/novo">Endereço</a></li> -->
                <li><a href="/ponto/cadastro">Ponto</a></li>
                <li><a href="/departamento/novo">Departamento</a></li>
                <li><a href="/funcao/novo">Função</a></li>
                <li><a href="/evento/novo">Evento</a></li>
                <li><a href="/usuario">Usuário</a></li>
            </ul>
        </nav>
        <button id="menu-button-relatorio">Relatório</button>
        <nav id="menu-relatorio" style="display: none;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/funcionarios">Funcionário</a></li>
                <!-- <li><a href="/enderecos">Endereço</a></li> -->
                <li><a href="/pontos">Ponto</a></li>
                <li><a href="/departamentos">Departamento</a></li>
                <li><a href="/funcoes">Função</a></li>
                <li><a href="/eventos">Evento</a></li>
                <!-- <li><a href="/usuarios">Bunga</a></li> -->
            </ul>
        </nav>
    </div>
    
    <div class="tela-inicial-time">
        <h1>Time</h1>
        <h2>Sistema de Controle de Ponto</h2>
    </div>

    <script src="/static/script.js"></script>

</body>
</html>
