<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funções</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    {% include 'menu.html' %}
   

    <div class="container-relatorios">
        <h2>Lista de Funções</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {% if funcoes %}
            <tbody>
                {% for funcao in funcoes %}
                <tr>
                    <td>{{ funcao[0] }}</td>
                    <td>{{ funcao[1] }}</td>
                    <td class="action-buttons">
                        <a href="{{ url_for('edit_funcao', id=funcao[0]) }}"><button>Editar</button></a>
                        <form method="POST" action="{{ url_for('delete_funcao', id=funcao[0]) }}" style="display:inline;">
                            <button type="submit" onclick="return confirm('Tem certeza que deseja remover este departamento?')">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <p>Nenhuma função encontrada.</p>
            {% endif %}
        </table>
        <a href="{{ url_for('add_funcao') }}"><button>Adicionar Nova Função</button></a>
    </div>

    <script src="../static/script.js"></script>
    
</body>
</html>
