<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pontos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    {% include 'menu.html' %}
   

    <div class="container-relatorios">
        <h2>Lista de Pontos</h2>
        <form method="POST" action="{{ url_for('list_pontos') }}">
            <label for="filtro">Buscar por funcionario (nome ou matricula):</label>
            <input type="text" id="filtro" name="filtro" placeholder="Informe o nome ou matricula">
            
            <label for="filtro_evento">Buscar por evento:</label>
            <input type="text" id="filtro_evento" name="filtro_evento" placeholder="Informe o codigo ou descricao do evento">

            <button type="submit">Buscar</button>
        </form>
        {% if error %}
            <p style="color:red";>{{ error }}</p>
        {% endif %}
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Funcionario</th>
                    <th>Data</th>
                    <th>Hora Entrada</th>
                    <th>Hora Saída</th>
                    <th>Evento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {% if pontos %}
            <tbody>
                {% for ponto in pontos %}
                <tr>
                    <td>{{ ponto[0] }}</td>
                    <td>{{ ponto[1] }}</td>
                    <td>{{ ponto[2] }}</td>
                    <td>{{ ponto[3] }}</td>
                    <td>{{ ponto[4] }}</td>
                    <td>{{ ponto[5] }}</td>
                    <td class="action-buttons">
                        <a href="{{ url_for('edit_ponto', id=ponto[0]) }}"><button>Editar</button></a>
                        <form method="POST" action="{{ url_for('delete_ponto', id=ponto[0]) }}" style="display:inline;">
                            <button type="submit" onclick="return confirm('Tem certeza que deseja remover este ponto?')">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <p>Nenhum ponto encontrado.</p>
            {% endif %}
        </table>
        <a href="{{ url_for('add_ponto') }}"><button>Adicionar Novo Ponto</button></a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
