<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Lista de Usuários</h2>

    <table>
        {% for usuario in usuarios %}
        <li>
            <strong>ID</strong>{{ usuario.id }}
            <strong>Nome</strong>{{ usuario.nome }}
            <strong>e-mail</strong>{{ usuario.email }}
        </li>
        {% endfor %}
    </tbody>
    </table>

    <a href="/usuarios">Adicionar Usuário</a>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
