<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Departamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>
<body>
    {% include 'menu.html' %}
   

    <div class="container-relatorios">
        <h2>Lista de Departamentos</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {% if departamentos %}
            <tbody>
                {% for departamento in departamentos %}
                <tr>
                    <td>{{ departamento[0] }}</td>
                    <td>{{ departamento[1] }}</td>
                    <td class="action-buttons">
                        <a href="{{ url_for('edit_departamento', id=departamento[0]) }}"><button>Editar</button></a>
                        <form method="POST" action="{{ url_for('delete_departamento', id=departamento[0]) }}" style="display:inline;">
                            <button type="submit" onclick="return confirm('Tem certeza que deseja remover este departamento?')">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <p>Nenhum departamento encontrado.</p>
            {% endif %}
        </table>
        <a href="{{ url_for('add_departamento') }}"><button>Adicionar Novo Departamento</button></a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
