<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Funções</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Lista de Funções</h2>
    {% if funcoes %}
    <table>
        <ul>
        {% for funcao in funcoes %}
            <li>
                {{ funcao.descricao }}
                <a href="/funcao/{{ funcao.id }}">Visualizar</a> |
                <a href="/funcao/{{ funcao.id }}/edit">Editar</a> |
                <form action="/funcao/{{ funcao.id }}/delete" method="POST" style="display:inline;">
                    <button type="submit">Deletar</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Não há funções cadastradas.</p>
    {% endif %}
    <a href="/funcao">Adicionar Nova Função</a>
</table>
        </div>
   

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
