<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    {% include 'menu.html' %}
   

    <div class="container-relatorios">
        <h2>Lista de Eventos</h2>
        <table>
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Codigo</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {% if eventos %}
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <!-- <td>{{ evento[0] }}</td> -->
                    <td>{{ evento[1] }}</td>
                    <td>{{ evento[2] }}</td>
                    <td class="action-buttons">
                        <a href="{{ url_for('edit_evento', id=evento[0]) }}"><button>Editar</button></a>
                        <form method="POST" action="{{ url_for('delete_evento', id=evento[0]) }}" style="display:inline;">
                            <button type="submit" onclick="return confirm('Tem certeza que deseja remover este evento?')">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <p>Nenhum evento encontrado.</p>
            {% endif %}
        </table>
        <a href="{{ url_for('add_evento') }}"><button>Adicionar Novo Evento</button></a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
