<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pontos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Lista de Pontos</h2>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Hora Entrada</th>
                <th>Hora Saida</th>
                <th>Data</th>
                <th>Funcionario</th>
                <th>Evento</th>
                <th>Acoes</th>
            </tr>
        </thead>

    {% if pontos %}
        <!-- {% print(pontos) %} -->
        <tbody> 
            {% for ponto in pontos %}
                <tr>
                    <td>{{ ponto.id }} </td>
                    <td>{{ ponto.hora_entrada }} </td>
                    <td>{{ ponto.hora_saida }} </td>
                    <td>{{ ponto.data }} </td>
                    <td>{{ ponto.nome }} </td>
                    <td>{{ ponto.evento }} </td>
                    <td class="actions">
                        <a href="/ponto/{{ ponto.id }}">
                            <i class="fas fa-eye"></i>
                        </a>
                        
                        <a href="/ponto/{{ ponto.id }}/edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        
                        <form action="/ponto/{{ ponto.id }}/delete" method="POST" style="display:inline;">
                            <button type="submit" style="border: none; color:red; background: none; align-items: center;">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
            <a href="/ponto"><button id="btn-retornar">Registrar Novo Ponto</button></a>
            <a href="{{ url_for('index') }}"><button id="btn-retornar">Voltar para tela inicial</button></a>
    {% else %}
        <p>Nenhum ponto encontrado.</p>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
