<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'menu.html' %}

    <div class="container-relatorios">
        <h2>Lista de Funcionários</h2>
        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Função</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {% if funcionarios %}
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.matricula }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.funcao }}</td>
                    
                    <td class="action-buttons">
                        <!-- <a href="{{ url_for('get_funcionario', matricula=funcionario.matricula) }}"><button>Ver</button></a> -->
                        <a href="{{ url_for('update_funcionario', matricula=funcionario.matricula) }}"><i class="fas fa-edit"></i></a>
                        <form method="POST" action="{{ url_for('delete_funcionario', matricula=funcionario.matricula) }}" style="display:inline;">
                            <button type="submit" style="border: none; color:red; background: none; align-items: center;">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <p>Nenhum funcionário encontrado.</p>
            {% endif %}
        </table>
        <a href="{{ url_for('add_funcionario') }}"><button id="btn-retornar">Adicionar Novo Funcionário</button></a>
        <a href="{{ url_for('index') }}"><button id="btn-retornar">Voltar para tela inicial</button></a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
