<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Lista de Usuários</h2>

    <table>
        {% for usuario in usuarios %}
        <li>
            <strong>ID</strong>{{ usuario.id }}
            <strong>Nome</strong>{{ usuario.nome }}
            <strong>e-mail</strong>{{ usuario.email }}
            <td class="actions">
                <a href="/usuario/{{ usuario.id }}">
                    <i class="fas fa-eye"></i>
                </a>
                
                <a href="/usuario/{{ usuario.id }}/edit">
                    <i class="fas fa-edit"></i>
                </a>
                
                <form action="/usuario/{{ usuario.id }}/delete" method="POST" style="display:inline;">
                    <button type="submit" style="border: none; color:red; background: none; align-items: center;">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </li>
        {% endfor %}
    </tbody>
    </table>

    <a href="/usuarios">Adicionar Usuário</a>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
