<!-- list_eventos.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Lista de Eventos</h2>
    {% if eventos %}
    <table>
        <ul>
            {% for evento in eventos %}
                <li>
                    <strong>Código:</strong> {{ evento.codigo }} <br>
                    <strong>Descrição:</strong> {{ evento.descricao }} <br>
                    <a href="/evento/{{ evento.id }}">Ver Detalhes</a> | 
                    <a href="/evento/{{ evento.id }}/edit">Editar</a> | 
                    <a href="/evento/{{ evento.id }}/delete">Deletar</a>
                </li>
            {% endfor %}
        </ul>
        <a href="/evento/novo">Adicionar Novo Evento</a>
    {% else %}
        <p>Nenhum evento encontrado.</p>
    {% endif %}
</table>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
