<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Departamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container-relatorios">
    <h2>Lista de Departamentos</h2>
    {% if departamentos %}
    <table>
        <ul>
            {% for departamento in departamentos %}
                <li>
                    {{ departamento.id }}
                    {{ departamento.descricao }}
                    <a href="/departamento/{{ departamento.id }}">
                        <i class="fas fa-eye"></i>
                    </a>
                    
                    <a href="/departamento/{{ departamento.id }}/edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    
                    <form action="/departamento/{{ departamento.id }}/delete" method="POST" style="display:inline;">
                        <button type="submit" style="border: none; color:red; background: none; align-items: center;">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add_departamento') }}">Adicionar Novo Departamento</a>
        <a href="{{ url_for('index') }}"><button id="btn-retornar">Voltar para tela inicial</button></a>
    </table>
    </div>
    {% else %}
        <p>Nenhum departamento encontrado.</p>
    {% endif %}
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
