<div class="menu-container">
    <button class="menu-btn" onclick="toggleMenu()">☰ Menu</button>

    <div id="dropdownMenu" class="menu-dropdown">
        {% if user %}
            <p>Bem-vindo, {{ user.nome }}!</p>
            <a href="/">🏠 Home</a>
            <a href="/logout">🚪 Logout</a>

            <div class="menu-section">
                <button class="section-btn" onclick="toggleSection('cadastro')">Cadastro ▼</button>
                <div id="cadastro" class="section-content">
                    <a href="/funcionario">Funcionário</a>
                    <a href="/ponto">Ponto</a>
                    <a href="/departamento">Departamento</a>
                    <a href="/funcao">Função</a>
                    <a href="/evento">Evento</a>
                    <a href="/escala">Escala</a>
                    <a href="/escala_funcionario">Associar escala x funcionario</a>
                    <a href="/usuario">Usuário</a>
                </div>
            </div>

            <div class="menu-section">
                <button class="section-btn" onclick="toggleSection('relatorio')">Relatório ▼</button>
                <div id="relatorio" class="section-content">
                    <a href="/funcionarios">Funcionários</a>
                    <a href="/pontos">Pontos</a>
                    <a href="/departamentos">Departamentos</a>
                    <a href="/funcoes">Funções</a>
                    <a href="/escalas">Escalas</a>
                    <a href="/lista_escala_funcionario">Listar escala x funcionario</a>
                    <a href="/usuarios">Usuários</a>
                </div>
            </div>

            <div class="menu-section">
                <button class="section-btn" onclick="toggleSection('importar')">Importar Pontos ▼</button>
                <div id="importar" class="section-content">
                    <a href="{{ url_for('importar_ponto_frontend') }}">📄 Importar Pontos via TXT</a>
                </div>
            </div>
            
            <div class="menu-section">
                <button class="section-btn" onclick="toggleSection('chat')">Chat ▼</button>
                <div id="chat" class="section-content">
                    <a href="{{ url_for('chat') }}">📄 Chat</a>
                </div>
            </div>
        
        {% else %}
            <p>Por favor, faça o login.</p>
            <a href="/">🏠 Home</a>
            <a href="/login">🔐 Login</a>
        {% endif %}
    </div>
</div>
