<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
       
    </style>
</head>
<body>
    {% include 'menu.html' %}
   

    <div class="container">
        <h3>{{ action }} Ponto</h3>
        {%if action == "Atualizar"%}
        <form method="POST" action="{{ url_for('edit_ponto', id=ponto['id']) }}">
        {%else%}
        <form method="POST" action="{{ url_for('add_ponto') }}">
        {%endif%}
            <input type="hidden" name="id" value="{{ ponto['id'] }}">
            <label for="funcionario">Funcionario:</label>
            <input type="text" id="funcionario" name="funcionario" value="{{ ponto['funcionario'] }}" placeholder="Informe a matricula do funcioario" required>

            <label for="data">Data:</label>
            <input type="date" id="data" name="data" value="{{ ponto['data'] }}" placeholder="Informe a data do ponto" required>

            <label for="hora_entrada">Hora Entrada:</label>
            <input type="time" id="hora_entrada" name="hora_entrada" value="{{ ponto['hora_entrada'] }}" placeholder="Informe a hora de entrada da marcação" required>

            <label for="hora_saida">Hora Saída:</label>
            <input type="time" id="hora_saida" name="hora_saida" value="{{ ponto['hora_saida'] }}" placeholder="Informe a hora de saída da marcação" required>

            <label for="evento">Evento:</label>
            <select id="evento" name="evento" required>
                <option value="">Selecione um evento</option>
                {% for evento in eventos %}
                    <option value="{{ evento['codigo'] }}">{{ evento['descricao'] }}</option>
                {% endfor %}
            </select>

            <button type="submit">{{ action }} Ponto</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
